# Backend
BACKEND_HOST=127.0.0.1
BACKEND_PORT=8000
APP_NAME=Image Production Utility
DATA_DIR=./backend/data
UPLOAD_DIR=./backend/uploads
OUTPUT_DIR=./backend/outputs
MODELS_DIR=./backend/models
LOGS_DIR=./backend/logs
LOG_LEVEL=INFO
USE_ONLY_LOCAL=false
RUNNING_IN_TAURI=false
PROVIDER_SETTINGS_ENCRYPT=false
PROVIDER_SETTINGS_KEY=

# Frontend
NEXT_PUBLIC_API_URL=http://127.0.0.1:8000
